<section>
  <div class="card mb-3">
    <div class="container-fluid" style="margin-top: 15px;">
      <h2 class="card-title">Mis Proyectos Web </h2>
      <!-- Button crear modal -->
      <div id="nuevo-proyecto">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalSumarProyecto"
          *ngIf="dato != null">¡Suma
          un nuevo Proyecto!
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="ModalSumarProyecto" tabindex="-1" aria-labelledby="ModalSumarProyecto"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalSumarProyectoLabel">Proyecto nuevo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <div class="card-body">
                  <form>
                    <div class="mb-3">
                      <label for=""> Nombre </label>
                      <input type="text" name="nombre" [(ngModel)]="proyecto.nombre"
                        placeholder="Ingrese el nombre del proyecto" class="form-control" autofocus required>
                    </div>
                    <div class="mb-3">
                      <label for=""> Descripcion </label>
                      <input type="text" name="descripcion" [(ngModel)]="proyecto.descripcion"
                        placeholder="Ingrese la descripcion del proyecto" class="form-control" required>
                    </div>
                    <div class="mb-3">
                      <label for=""> Fecha de realizacion </label>
                      <input type="date" name="fechaRealizacion" [(ngModel)]="proyecto.fechaRealizacion"
                        placeholder="Ingrese la fecha de realizacion del proyecto" class="form-control" required>
                    </div>
                    <div class="mb-3">
                      <label for=""> Enlace de la pagina </label>
                      <input type="text" name="enlacePagina" [(ngModel)]="proyecto.enlacePagina"
                        placeholder="Ingrese el enlace a la pagina web" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        (click)="crearProyecto()">Guardar Cambios</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <ngb-carousel>
        <ng-template *ngFor="let proyecto of proyectos" ngbSlide>
          <div class="carousel slide">
            <img src="../assets/proyecto{{proyecto.id}}.png" alt="Random first slide"
              style="margin-left: 10%; margin-right:10%; margin-top:15%; width:80%; max-height: 500px; background-size: contain;  ">
          </div>
          <div class="carousel-caption">

            <div class="card">
              <div class="card-body" >
                <button type="button" class="boton-eliminar-proyecto" (click)="eliminarProyecto(proyecto.id)"
                  *ngIf="dato != null">
                  <i class="fa-solid fa-circle-xmark" style="color: aliceblue; "></i>
                </button>
                <!-- EDITAR PROYECTO BOTON MODAL -->
                <button type="button" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#myModal'+proyecto.id"
                  *ngIf="dato != null" class="boton-editar-proyecto">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <!-- EDITAR PROYECTO BOTON MODAL-->
                <div class="modal fade" id="myModal{{proyecto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Proyecto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for=""> Nombre </label>
                          <input type="text" name="nombre" [(ngModel)]="proyecto.nombre"
                            placeholder="Ingrese el nombre del proyecto" class="form-control" autofocus required>
                        </div>
                        <div class="mb-3">
                          <label for=""> Descripcion </label>
                          <input type="text" name="descripcion" [(ngModel)]="proyecto.descripcion"
                            placeholder="Ingrese la descripcion del proyecto" class="form-control" autofocus required>
                        </div>
                        <div class="mb-3">
                          <label for=""> Fecha de realizacion </label>
                          <input type="date" name="fechaRealizacion" [(ngModel)]="proyecto.fechaRealizacion"
                            placeholder="Ingrese la fecha de realizacio del proyecto" class="form-control" autofocus
                            required>
                        </div>
                        <div class="mb-3">
                          <label for=""> Enlace de la pagina </label>
                          <input type="text" name="enlace" [(ngModel)]="proyecto.enlacePagina"
                            placeholder="Ingrese el enlace de la pagina del proyecto" class="form-control" autofocus
                            required>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" (click)="modificarDatosProyecto(proyecto)"
                          data-bs-dismiss="modal">Actualizar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal Editar Proyecto termina -->
                <h3>{{proyecto.nombre}}</h3>
                <p><span>{{proyecto.descripcion}}</span></p>
                <p><span>Finalizado en la fecha {{proyecto.fechaRealizacion}}</span> </p>
                <a href="{{proyecto.enlacePagina}}"> <button class="btn btn-primary"> {{proyecto.nombre}} <i class="fa-solid fa-right-from-bracket"></i> </button></a>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>

    </div>

  </div>
</section>