<section>
  <div class="card mb-3">
    <div class="container-fluid" style="margin-top: 15px;">
      <div class="card-body">
        <h2 class="card-title">Proyectos Web </h2>
        <!-- Button trigger modal -->
        <div id="nuevo-proyecto">
          <button type="button" class="btn btn-success"  data-bs-toggle="modal"
            data-bs-target="#ModalSumarProyecto">¡Suma un nuevo Proyecto!
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="ModalSumarProyecto" tabindex="-1" aria-labelledby="ModalSumarProyecto"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalSumarProyectoLabel">Proyecto nuevo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label for=""> Nombre </label>
                        <input type="text" name="habilidad" [(ngModel)]="proyectos.nombre"
                          placeholder="Ingrese la habilidad" class="form-control" autofocus required>
                      </div>
                      <div class="mb-3">
                        <div class="content-select">
                          <label for=""> Descripcion </label>
                          <input type="number" name="porcentaje" [(ngModel)]="proyectos.descripcion"
                            placeholder="Ingrese el procentaje" class="form-control" required>

                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="content-select">
                          <label for=""> Fecha de realizacion </label>
                          <input type="date" name="fechaRealizacion" [(ngModel)]="proyectos.fechaRealizacion"
                            placeholder="Ingrese la fecha de realizacion" class="form-control" required>

                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="content-select">
                          <label for=""> Enlace de la pagina </label>
                          <input type="text" name="enlacePagina" [(ngModel)]="proyectos.descripcion"
                            placeholder="Ingrese el enlace a la pagina web" class="form-control" required>

                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save
                          changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Modal -->
        <ul class="form-group row" *ngFor=" let proyecto of proyectos">
          <div class="col-sm-6" style=" margin-top: 20px; margin-bottom: 20px;">
            <button type="button" class="boton-eliminar-proyecto" (click)="proyecto(proyecto.id)">
              <i class="fa-solid fa-circle-xmark" style="color: aliceblue; "></i>
            </button>
            <div id="carouselExampleDark" class="carousel carousel-dark slide container" data-bs-ride="carousel"
              style="height: 100%; width: 100%; max-width: 750px; max-height: 700px; margin: 0 !important; padding: 0 !important; float: right; ">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="../assets/proyecto1.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="../assets/proyecto2.png" class="d-block w-100" alt="..." >
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/proyecto3.png" class="d-block w-100" alt="..." >
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/proyecto4.png" class="d-block w-100" alt="..." >
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>

                <div class="carousel-item">
                  <img src="../assets/proyecto5.png" class="d-block w-100" alt="..." >
                  <div class="carousel-caption d-none d-md-block">
                  </div>
                </div>

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-sm-6" style=" margin-top: 15px; margin-bottom: 15px;">
            <button type="button" class="boton-editar-proyecto">
              <i class="fa-solid fa-pen"></i>
            </button>
            <div style="margin-top: 25px;">
              <li class="li"><b>Nombre: </b> {{proyecto.nombre}} </li>
              <li class="li"><b>Descripcion: </b> {{proyecto.descripcion}} </li>
              <li class="li"><b>Fecha de finalizacion: </b> {{proyecto.fechaRealizacion}} </li>
              <li class="li"><b>Enlace de la Pagina Web: </b> <a href="{{proyecto.enlacePagina}}"> {{proyecto.enlacePagina}}</a> </li>
            </div>
          </div>
          <hr>
        </ul>
      </div>

    </div>
  </div>
</section>


