<form class="add-form" id="formulario"
(ngSubmit)="onSubmit()"

*ngIf="showAddTask"

>
    <div class="form-control">
        <label for="text">Tarea</label>
        <input type="text" name="text" id="text"  placeholder="Add task text" 
        [(ngModel)]="text"
        />
    </div>

    <div class="form-control">
        <label for="day">Dia y Horario</label>
        <input type="datetime-local" name="day" id="day" 
        [(ngModel)]="day"
        />
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Recordatorio</label>
        <input type="checkbox" name="reminder" id="reminder"
        [(ngModel)]="reminder"
         />
    </div>
    {{text}}

        <button type="submit"  value="Save Task" class="btn guardar" onclick="limpiar()"><b>Guardar tarea </b>  </button>
        <button type="reset" class="btn limpiar"> <b> Limpiar	campos</b> </button>

</form>
