<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="nav-izquierda">
    <a class="navbar-brand" href="#"> <img
        src="../assets/argprog.png"
        alt="" style="height: 30px; width: 90px;">
    </a>
    <a class="navbar-brand" href="#"> <img
      src="../assets/argprog1.png"
      alt="" style="height: 30px; width: 120px;">
    </a>
  </div>
      <ul class="nav-derecha ">
        <li type="none" class="nav-item" *ngIf="Usuario.logueado == 0">
          <a class="nav-link" href="ingresar">Ingresar</a>
        </li>
        <li type="none" class="nav-item" *ngIf="Usuario.logueado == 0">
          <a class="nav-link" href="registrar">Registrar</a>
        </li>

        <li type="none" class="nav-item">
          <!-- Linkedin -->
          <a class="nav-link" href="https://www.linkedin.com/in/joanmanuelromero/" role="button"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li type="none" class="nav-item">
          <!-- Github -->
          <a class="nav-link" style="color: #000000;" href="https://github.com/Joanmanuel1?tab=repositories" role="button"><i class="fa-brands fa-github"></i></a>
        </li>
                <!-- Facebook 
        <li type="none" class="nav-item">
          <a class="nav-link" style="color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f fa-lg"></i></a>
        </li>
        -->
        <!-- Twitter 
        <li type="none" class="nav-item">
          <a class="nav-link" style="color: #55acee;" href="#!" role="button"><i class="fab fa-twitter fa-lg"></i></a>
        </li>
        -->
        <!-- Google 
        <li type="none" class="nav-item">
          <a class="nav-link" style="color: #dd4b39;" href="#!" role="button"><i class="fab fa-google fa-lg"></i></a>
        </li>
        -->
        <!-- Instagram x
        <li type="none" class="nav-item">
          <a class="nav-link" style="color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram fa-lg"></i></a>
        </li>
        -->
        <li type="none" class="nav-item" *ngIf="Usuario.logueado == 1" >
            <button type="button" class="btn btn-info" (click)="modificarDatosLogueo()"> Cerrar Sesión
              <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </li>
      </ul>
    </div>

</nav>