<div class="card container images" style="max-width: 100%;">
    <div class="formulario">
        <div class="card-header">
            <h1 style="text-align: center;">Iniciar sesion</h1>
        </div>
        <div *ngIf="!reintentar" class="card-body">
            <form (submit)="login()">
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <label for=""> <b> Email </b> </label>
                            <input type="email" name="email" autofocus id="email" [(ngModel)]="email"
                                placeholder="Ingrese su Email" class="form-control" >
                                <div [ngSwitch]="errorEmail" class="errorField">
                                    <div *ngSwitchCase="1"> <p>Debes completar el campo</p> </div>
                                    <div *ngSwitchCase="2"><p>Email muy largo</p> </div>
                                    <div *ngSwitchCase="3"><p>Email debe ser nombre&#64;dominio.algo .</p> </div>
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for=""> <b> Contraseña </b> </label>
                            <input type="password" name="password" [(ngModel)]="password" 
                                placeholder="Ingrese su Contraseña" class="form-control" required>
                                <div [ngSwitch]="errorPassword" class="errorField">
                                    <div *ngSwitchCase="1"><p>Debes completar el campo</p> </div>
                                    <div *ngSwitchCase="2"><p>Contraseña muy larga</p> </div>
                                </div>
                        </div>
                        <button class="btn btn-success btn-block" (click)="verificarForm()"><i class="fas fa-sign-in-alt"></i><b>
                                Ingresar</b></button>
                        <a href=""> <b> ¿Olvidaste tu contraseña?</b></a>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="reintentar" class="card-body">
            <span class="usuario-invalido"> !Lo sentimos! </span> <br>
            <span class="usuario-invalido"> ¡El usuario no existe! </span> <br>
            <button class="btn btn-success" (click)=recargarForm()>Reintentar</button>
            <button class="btn btn-danger" routerLink="../portfolio"> Cancelar</button>
        </div>
    </div>
</div>