<div class="card container images" style="max-width: 100%;">
    <div class="formulario">
        <div class="card-header">
            <h1 style="text-align: center;">Iniciar sesion</h1>
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="mb-3">
                            <label for=""> <b> Usuario</b> </label>
                            <input type="text" name="nombre" placeholder="Ingrese su Email de Usuario"
                                class="form-control" formControlName="email" formControlName="email" autofocus
                                [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}">
                            <div *ngIf="Email?.errors && Email?.touched">
                                <p *ngIf="Email?.hasError('required')" class="text-danger">
                                    El email es requerido.
                                </p>
                                <p *ngIf="Email?.hasError('email')" class="text-danger">
                                    El formato del email debe ser valido.
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for=""> <b> Contraseña</b> </label>
                            <input type="password" name="password" placeholder="Ingrese su Contraseña"
                                class="form-control" formControlName="password"
                                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}">
                            <div *ngIf="Password?.errors && Password?.touched">
                                <p *ngIf="Password?.hasError('required')" class="text-danger">
                                    La contraseña es requerida.
                                </p>
                                <p *ngIf="Password?.hasError('password')" class="text-danger">
                                    El formato de la contrasñea debe ser valida.
                                </p>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i><b>
                                Ingresar</b></button>
                        <a href=""> <b> ¿Olvidaste tu contraseña?</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>