<section>

    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill" id="pills-tab2" role="tablist">
            <li class="nav-item" role="presentation" style="width: 30%; margin-right: 25px;">
                <button class="nav-link active" id="pills-home-tab2" data-bs-toggle="pill" data-bs-target="#pills-home2"
                    type="button" role="tab" aria-controls="pills-home2" aria-selected="true" style="width: 100%;">Hard
                    Skills</button>
            </li>
            <li class="nav-item" role="presentation" style="width: 30%;  margin-right: 25px;">
                <button class="nav-link" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
                    style="width: 100%; ">Soft Skills</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent2">
            <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">
                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="" alt="" style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">
                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 1</p>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="" alt="" style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">

                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 2</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="../assets/g" alt=""
                            style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">

                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 3</p>
                    </div>
                </div>
                <hr>
            </div>


            <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">

                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="" alt="" style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">
                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 1</p>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="" alt="" style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">

                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 2</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6" style="text-align: right; margin-top: 25px;">
                        <button type="button" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(228, 8, 8); border:none; float: left; font-size: 30px !important;">
                            <i class="fa-solid fa-circle-xmark"style="color: aliceblue; "></i>
                        </button>
                        <img src="../assets/g" alt=""
                            style="height: 100%; width: 100%; max-width: 350px; max-height: 350px; ">
                    </div>

                    <div class="col-sm-6" style=" margin-top: 25px;">

                        <button type="button" class="" style=" width: 50px; height: 50px; border-radius: 50%; background-color: rgb(25, 180, 129); border:none; float: right;">
                            <i class="fa-solid fa-pen" style="color: aliceblue;"></i>
                        </button>
                        <p class="card-text">skill 3</p>
                    </div>
                </div>
                <hr>

            </div>

        </div>
    </div>

</section>
