

    <div class="card text-white bg-primary container" style="max-width: 36rem;">
        <form>
            <div class="card-header" style="background-color: darkblue;">
                <h1>Registro</h1>
            </div>
            <div class="card-body">
                <label for="" style="float: left;"> Nombre </label>
                <input type="text" minlength="4" name="nombre" placeholder="Ingrese su Usuario" class="form-control"
                    autofocus required>

                <label for=""> Apellido </label>
                <input type="text" minlength="4" name="apellido" placeholder="Ingrese su  Apellido" class="form-control"
                    required>

                <label for="" style="float: left;"> Contraseña </label>
                <input type="password" name="password" placeholder="Ingrese su  Contraseña" class="form-control"
                    required minlength="6">

                <label for=""> Repita la contraseña </label>
                <input type="password" name="repassword" placeholder="Repetir Contraseña" class="form-control"
                    minlength="6" required>
                <label for=""> E-mail </label>
                <input type="email" name="email" placeholder="Ingrese su Email" class="form-control" minlength="10"
                    required>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <button class="btn btn-success btn-block" value="persona"><b>Enviar </b> </button>
                    </div>

                    <div class="col-sm-6">
                        <input type="reset" value="Limpiar campos" class="btn btn-danger btn-block">
                    </div>
                </div>
            </div>
        </form>
    </div>
